<div class="page-header">
  <h1 id="tables">Weather Update</h1>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">City</th>
    <th scope="col">Longitude</th>
    <th scope="col">Latitude</th>
<!--    <th scope="col">Clouds</th>-->
  </tr>
  </thead>
  <tbody>
  <tr class="table-primary">
    <th scope="row">{{weather.city.name}}</th>
    <td>{{weather.city.coord.lon}}</td>
    <td>{{weather.city.coord.lat}}</td>
<!--    <td>{{weather.city.clouds.all}}</td>-->
  </tr>

  </tbody>
</table>
{{weather.city.clouds.all}}
