<div class="page-header">
  <h1 id="tables">Enter a city and its code here </h1>
</div>

<div class="form-group">
  <label >Enter City</label>
  <input type="text" class="form-control"  placeholder="city" [(ngModel)] = "city">

  <label >Enter Code</label>
  <input type="text" class="form-control"  placeholder="code" [(ngModel)] = "city">
  <br>
  <button type="button" class="btn btn-primary" (click)="save()">Submit</button>
</div>
